<div class="pagina">
<app-header></app-header>

<div class="tela">

    <div class="filtro">
        <h2>Filtro do Relatório</h2>




      <mat-form-field class="data">

          <mat-label>Data: </mat-label>

          <input matInput [formControl]="DataControl" name="data" type="date" [(ngModel)]="data" type="date" placeholder="data" class="dataInput">

      </mat-form-field>

        <h1></h1>

        <mat-form-field class="atendimento">

          <mat-label>Atendimento: </mat-label>

          <input matInput [formControl]="AtendimentoControl" class="atendimentoInput" type="text">

        </mat-form-field>
        <h3></h3>

        <div>Sucesso:</div>
            <table class="sucessos">
                <tr *ngFor="let tx of sucessos">
                  <td>{{tx.nome}}</td>
                  <td><input type="checkbox"
                    class="checkbox"
                  ng-required="!show()"
                  ng-model="tx"
                  (click)="atualizaCheckbox(tx)"
                  /></td>
                </tr>
              </table>

              <h3></h3>
            <button class="btnVisualizar" type="button" (click)="visualizarDados()">Visualizar</button>



            </div>
  <div class="textoResultado"><h2>Resultado da Pesquisa</h2>
    <div class="resultadoPesquisa">



        <mat-table mat-table [dataSource]="dataSourceRelatorio" matshort>

            <ng-container matColumnDef="seq_item_enviado">
                <th mat-header-cell *matHeaderCellDef class="headerCelulaTabela"> Sequência do item enviado </th>
                <td mat-cell *matCellDef="let element" class="celulaTabela"> {{element.seq_item_enviado}}</td>
            </ng-container>

            <ng-container matColumnDef="cd_importacao">
                <th mat-header-cell *matHeaderCellDef class="headerCelulaTabela"> Código da importação </th>
                <td mat-cell *matCellDef="let element" class="celulaTabela"> {{element.cd_importacao}}</td>
            </ng-container>

            <ng-container matColumnDef="cd_atendimento">
                <th mat-header-cell *matHeaderCellDef class="headerCelulaTabela"> Código do Atendimento </th>
                <td mat-cell *matCellDef="let element" class="celulaTabela"> {{element.cd_atendimento}}</td>
            </ng-container>

            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef class="headerCelulaTabela"> Data </th>
                <td mat-cell *matCellDef="let element" class="celulaTabela"> {{element.data}}</td>
            </ng-container>

            <ng-container matColumnDef="observacao">
                <th mat-header-cell *matHeaderCellDef class="headerCelulaTabela"> Observação </th>
                <td mat-cell *matCellDef="let element" class="celulaTabela"> {{element.observacao}}</td>
            </ng-container>

            <ng-container matColumnDef="sucesso">
                <th mat-header-cell *matHeaderCellDef class="headerCelulaTabela"> Sucesso </th>
                <td mat-cell *matCellDef="let element" class="celulaTabela"> {{element.sucesso}}</td>
            </ng-container>

            <ng-container matColumnDef="xml">
                <th mat-header-cell *matHeaderCellDef class="headerCelulaTabela"> Xml </th>
                <td mat-cell *matCellDef="let element" class="celulaTabela"> {{element.xml}}</td>
            </ng-container>

            <mat-header-row class="header-row" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row class="row" *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

      </div>
    </div>


  </div>



