
.pagina{
  display: flex;
  flex-direction: row;


}

.tela{
  width:80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


  .formulario{


  }

  .filtro {

    padding: 10px;
    display: flex;
  flex-direction: column;
  }

  .data {
    font-family:inherit;
    font-weight: 400;
    font-size:1rem;
    color:black;
    width:200px;
    height:50px;
   justify-content: center;
  margin-right: 1px;

  padding: 10px;
  }




 .dataInput {

  font-family:inherit;
  font-weight: 400;
  font-size:1rem;
  color:black;

 justify-content: center;
 margin-right: 1px;

 padding: 10px;

    background-color: white;


  }




  .atendimento {
    width:200px;
    height:50px;
    font-family:inherit;
    font-weight: 400;
    font-size:1rem;
    color:black;
    margin-right: 10px;

  padding: 10px;

  }



  .atendimentoInput {
    margin-right: 1px;

 padding: 10px;
  }



  .sucessos{
    font-family:inherit;
    font-weight: 400;

    width: 200px;

    margin-right: 1px;

    padding: 10px;
  }

  .btnVisualizar{
    background-color:darkblue;
    border-radius: 10px;
    color: white;
    width:80px;
    height: 40px;
    margin-left: 10px;

}



.sucessos tr td {
  opacity: 1.0;
  display: table-cell;


    word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  max-width: 25ch;

    text-overflow: clip;

  white-space: nowrap;
  vertical-align: middle;
  font-family:inherit;
    font-weight: 400;
    font-size:1rem;



}

ng-container {
  opacity: 1.0;


  display: table-cell;



  vertical-align: middle;


}

mat-header-row {


  display: table-row;



  background-color: white;

}


mat-row {
  opacity: 1.0;

  display: table-row;



  background-color: white;

}

mat-table{

  display: table;
  height: 80%;
}

.textoResultado{
  padding:10px;

}

.resultadoPesquisa {


overflow: scroll;

}

.headerCelulaTabela{
  word-wrap: initial;
    display: table-cell;
  height: 50px;
    line-break: unset;

      text-overflow: clip;
    white-space: nowrap;

    vertical-align: middle;

      font-weight: 400;

    color: gray;
}

.celulaTabela
  {
    height: 50px;
    word-wrap: initial;
    display: table-cell;

    line-break: unset;

      text-overflow: clip;
    white-space: nowrap;

    vertical-align: middle;

      font-weight: 400;

    color: black;


  }


td
  {

    word-wrap: initial;
  display: table-cell;

  line-break: unset;
  min-width:300px;

    text-overflow: clip;
  white-space: nowrap;

  vertical-align: middle;

    font-weight: 400;

    color:gray;


  }

  th .celulaTabela
  {
    min-width:300px;
    word-wrap: initial;
  display: table-cell;

  line-break: unset;


    text-overflow: clip;
  white-space: nowrap;

  vertical-align: middle;

    font-weight: 400;

    color:black;


  }




